/*280px; samsung*/
/*320px; iphone 4,5*/
/*360px; android*/
/*375px; iphone 7, 8, x, 12, 13*/
/*390px; iphone 12, 13*/
/*393px; 412px google +*/
/*414px; iphone xr, 7+, 8+*/
/*428px; pro max*/

/*768px; ipad*/
/*800px; galaxy tab*/
/*820px; ipad air*/
/*834px'; ipad pro*/
/*1024px; planshet pro max and desktop*/

@media screen and (max-width: 1330px) {

    .main_banner {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .main_banner a {
        align-items: center;
    }

    .main_banner .for_img {
        position: relative;
        right: 0;
        top: 0;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 11px;
        line-height: 18px;
    }

    .main_banner .description {
        max-width: 544px;
        margin: auto;
        padding-right: 23px;
    }

    .best_sellers .cards.container {
        max-width: 900px;
    }

    .best_sellers {
        padding-top: 50px;
        padding-bottom: 150px;
    }

    .best_sellers .guides h2:first-of-type {
        padding-bottom: 15px;
    }

    .best_sellers .guides p:first-of-type {
        padding-bottom: 20px;
    }

    .best_sellers .guides p:last-of-type {
        padding-bottom: 50px;
    }

    .best_sellers .guides h2:last-of-type {
        padding-bottom: 20px;
    }

    .owl-nav .owl-prev {
        left: -10px;
    }

    .owl-nav .owl-next {
        right: -10px;
    }

    .people h2,
    .culture h2,
    .power h2 {
        padding-bottom: 25px;
    }

    .people p,
    .culture p,
    .power p {
        font-size: 2rem;
        line-height: 36px;
    }

    .features {
        padding-top: 150px;
        padding-bottom: 250px;
    }

    .features .wrap_container {
        max-width: 1024px;
        padding-bottom: 20px;
    }

    .container_1280 {
        max-width: 1200px;
    }

    .features .wrap_container p {
        margin-top: 90px;
        margin-bottom: 90px;
        width: 265px;
    }

    .voices .voices_container {
        max-width: 992px;
        justify-content: center;
        /*justify-content: space-around;*/
    }

    .voices .item p {
        line-height: 20px;
        margin-bottom: 20px;
    }

    .voices .item h4 {
        line-height: 20px;
        margin-bottom: 25px;
    }

    .form {
        padding-top: 60px;
        padding-bottom: 78px;
    }

    .form form input {
        padding-top: 9px;
        padding-bottom: 8px;
    }

    footer .logo_social a {
        padding-bottom: 15px;
    }

    footer .links div li h4 {
        padding-bottom: 20px;
    }

    footer .links div li {
        padding-bottom: 7px;
    }

}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
    /*html {*/
    /*    font-size: 12px;*/
    /*    line-height: 20px;*/
    /*}*/
    .ui-dialog {
        width: 270px !important;
        left: calc(50% - 138px) !important;
    }

    #dialog form {
        height: 30px;
    }

    .ui-widget {
        font-size: 13px;
    }

    #dialog form input {
        height: 20px;
        font-size: 10px;
        padding-left: -20px;
    }

    #dialog form:hover {
        width: 250px;
    }

    #dialog form:hover input {
        width: 200px;
    }

    #dialog button {
        width: 30px;
        height: 30px;
    }


    .container {
        max-width: 992px;
    }

    .main_banner {
        flex-direction: column;
        padding-top: 35px;
        padding-bottom: 15px;
    }

    .main_banner h1 {
        margin-bottom: 20px;
    }

    .main_banner p {
        margin-bottom: 16px;
    }

    .main_banner .description {
        padding-right: 10px;
    }

    .main_banner .description a {
        display: block;
        max-width: 70px;
        padding: 5px 15px;
        margin: auto;
        text-align: center;
    }

    .best_sellers {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .best_sellers .cards.container {
        max-width: 768px;
    }

    .owl-nav .owl-prev {
        left: -5px;
    }

    .owl-nav .owl-prev:before,
    .owl-nav .owl-next:before {
        font-size: 2.125rem;
    }

    .owl-nav .owl-next {
        right: -5px;
    }

    .best_sellers .cards .card {
        max-width: 265px;
    }

    .features {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .features .wrap_container {
        max-width: 992px;
        padding-bottom: 10px;
    }

    .container_1280 {
        max-width: 992px;
    }

    .features .wrap_container p {
        margin-top: 80px;
        margin-bottom: 80px;
        width: 250px;
    }

    .voices .voices_container {
        max-width: 768px;
    }

    .voices .voices_container .item {
        max-width: 230px;
        margin-top: -165px;
    }

    .form {
        padding-top: 50px;
        padding-bottom: 65px;
    }

    footer .logo_social img {
        width: 80%;
    }
}


@media screen and (max-width: 860px) {
    .container {
        max-width: 860px;
    }

    /*nav {*/
    /*    display: none;*/
    /*}*/

    header .logo {
        position: relative;
        left: 0;
        margin-left: 0;
        top: 0;
    }

    .best_sellers .cards.container {
        max-width: 620px;
    }

    .owl-nav .owl-prev {
        left: -2px;
    }

    .owl-nav .owl-next {
        right: -2px;
    }

    .people h2,
    .culture h2,
    .power h2 {
        padding-bottom: 22px;
    }

    .people p,
    .culture p,
    .power p {
        font-size: 1.8rem;
        line-height: 32px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 768px;
    }



    .nav-but-wrap {
        display: inline-block;
    }

    .nav {
        position: fixed;
    }
    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
    }

    .nav__list {
        display: block;
    }

    .nav__list-item {
        position: relative;
        display: block;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        opacity: 0;
        text-align: center;
        color: #fff;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
        font-size: 8vh;
        font-weight: 900;
        line-height: 1.15;
        letter-spacing: 3px;
        -webkit-transform: translate(100px, 0%);
        transform: translate(100px, 0%);
        -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, transform .3s ease;
        transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav__list-item a{
        position: relative;
        text-decoration: none;
        color: rgba(255,255,255,0.6);
        overflow: hidden;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 900;
        z-index: 2;
        display: inline-block;
        text-transform: uppercase;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav__list-item a:after{
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -2px;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        background-color: #8167a9;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav__list-item a:hover:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
    .nav__list-item a:hover{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }

    .main_banner img {
        position: relative;
        right: 0;
    }

    .best_sellers .cards.container {
        max-width: 620px;
    }

    /*.best_sellers .cards {*/
    /*    flex-direction: column;*/
    /*    flex-wrap: wrap;*/
    /*}*/
    /*.best_sellers .card .for_img {*/
    /*    max-width: 200px;*/
    /*}*/
    .best_sellers {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .best_sellers .guides h2:first-of-type {
        padding-bottom: 10px;
    }

    .best_sellers .guides p:first-of-type {
        padding-bottom: 10px;
    }

    .best_sellers .guides p:last-of-type {
        padding-bottom: 30px;
    }

    .best_sellers .guides h2:last-of-type {
        padding-bottom: 10px;
    }

    .best_sellers .cards .description h3,
    .best_sellers .cards .description p {
        padding-bottom: 5px;
    }

    .people .d-flex,
    .power .d-flex {
        flex-direction: column;
    }

    .culture .d-flex {
        flex-direction: column-reverse;
    }

    .people .for_img,
    .culture .for_img,
    .power .for_img {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .people .description,
    .culture .description,
    .power .description {
        text-align: center;
    }

    .voices_container .d-flex {
        flex-direction: column;
    }

    .features {
        padding-top: 50px;
        padding-bottom: 200px;
    }

    .container_1280 {
        max-width: 768px;
    }

    .features h2:first-of-type {
        padding-bottom: 50px;
    }

    .features .wrap_container {
        max-width: 768px;
        padding-bottom: 5px;
        justify-content: center;
        flex-direction: column;

    }

    .features .wrap_container p {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 200px;
    }

    .features .wrap_container p:before {
        width: 50px;
        height: 50px;
        top: -70px;
        margin-left: -25px;
    }

    .features .wrap_container p {
        font-size: 1.5rem;
        line-height: 27px;
    }

    .voices {
        padding-bottom: 20px;
    }

    .voices .voices_container {
        max-width: 768px;
        flex-direction: column;
    }

    .voices .voices_container .item {
        padding-bottom: 35px;
    }

    /*.voices .voices_container .item:not(.voices .voices_container .item:first-of-type)  {*/
    /*    margin-top: 0;*/
    /*}*/
    .voices .voices_container .item:not(.item:first-of-type) {
        margin-top: 0;
    }

    .voices .item img {
        padding-bottom: 20px;
    }

    .voices .item p {
        margin-bottom: 8px;
    }

    .voices .item h4 {
        margin-bottom: 5px;
    }

    .form form input {
        padding-top: 6px;
        padding-bottom: 5px;
    }

    .form form #first_name,
    .form form #last_name {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px) {
    .best_sellers .cards.container {
        max-width: 300px;
    }
}

@media screen and (max-width: 505px) {
    footer {
        padding-top: 20px;
    }

    footer .logo_social {
        max-width: 100px;
        display: contents;
    }

    footer .logo_social ul {
        padding-bottom: 5px;
        padding-left: 0;
    }

    footer .logo_social a {
        padding-bottom: 5px;
    }

    footer .links div li h4 {
        padding-bottom: 6px;
    }

    footer .links div li {
        padding-bottom: 1px;
    }
}

@media screen and (max-width: 428px) {
    html {
        font-size: 9px;
        line-height: 14px;
    }

    h2 {
        font-size: 2rem;
        line-height: 25px;
    }

    .container {
        max-width: 428px;
        padding: 0 5px;
    }

    .main_banner p,
    .best_sellers .guides p,
    .people p,
    .culture p,
    .power p {
        font-size: 1.5rem;
        line-height: 25px;
    }

    /*.best_sellers {*/
    /*    padding-top: 20px;*/
    /*    padding-bottom: 20px;*/
    /*}*/
    .best_sellers .guides h2:first-of-type,
    .best_sellers .guides h2:last-of-type {
        padding-bottom: 5px;
    }

    .best_sellers .guides p:last-of-type {
        padding-bottom: 15px;
    }

    .best_sellers .cards .description h3,
    .best_sellers .cards .description p {
        padding-bottom: 2px;
    }

    .p_top76_bottom51 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .people h2,
    .culture h2,
    .power h2 {
        padding-bottom: 10px;
    }

    .people p,
    .culture p,
    .power p {
        padding-bottom: 15px;
    }

    .features {
        padding-top: 40px;
        padding-bottom: 150px;
    }

    .container_1280 {
        max-width: 428px;
    }

    .features h2:first-of-type {
        padding-bottom: 50px;
    }

    .features .wrap_container {
        justify-content: center;
        max-width: 428px;
        padding-bottom: 5px;
    }

    .features .wrap_container p {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 200px;
    }

    /*.features .wrap_container p:before {*/
    /*    width: 50px;*/
    /*    height: 50px;*/
    /*    top: -70px;*/
    /*}*/
    .features .wrap_container p {
        font-size: 1.5rem;
        line-height: 27px;
    }

    .voices .voices_container {
        max-width: 320px;
    }

    .voices .voices_container .item {
        margin-top: -125px;
    }

    .form {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .form form.container {
        max-width: 320px;
    }

    .form p {
        padding-bottom: 15px;
    }

    .form form .first_name,
    .form form .last_name {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 8px;
        line-height: 9px;
    }

    .best_sellers .cards.container {
        max-width: 250px;
    }

    .best_sellers .cards .card {
        max-width: 210px;
    }

    .features .wrap_container p {
        margin-top: 40px;
        margin-bottom: 25px;
    }

    /*.features .wrap_container p:before {*/
    /*    margin-left: -25px;*/
    /*}*/
    .features {
        padding-bottom: 175px;
    }


}

@media screen and (max-width: 292px) {
    footer .logo_social ul {
        padding-left: 20px;
    }
}

/*@media screen and (max-width: 280px) {*/

/*}*/
