* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625em;
    /*line-height: 26px;*/
}

h1, h2, h3 {
    font-weight: 700;
    color: #000000;
}

h1 {
    font-size: 3.75rem;
    line-height: 1.167;
}

h2 {
    font-size: 2.25rem;
    line-height: 42px;
}

h3 {
    font-size: 1.06rem;
    line-height: 20px;
}

.a-link {
    font-weight: 700;
    font-size: 1.06rem;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

header {
    background-color: #ffffff;
    padding: 7px 0;
}

.container {
    max-width: 1064px;
    margin: auto;
}

.container_1280 {
    max-width: 1280px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.d-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;

}

.align-start {
    align-items: flex-start;
}

.text-center {
    text-align: center;
}

.p_top76_bottom51 {
    padding-top: 76px;
    padding-bottom: 51px;
}

header ul {
    list-style: none;
}

header nav li a {
    font-weight: 700;
    font-size: 1rem;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}

header nav li {
    margin-right: 28px;
}

header li:first-of-type {
    margin-right: 16px;
}

header nav li:first-of-type {
    margin-right: 28px;
}

header li:last-of-type {
    margin-left: 7px;
}

header nav li:last-of-type {
    margin-left: 0;
}

header .container {
    position: relative;
}

header .logo {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 13px;
}

.main_banner {
    padding: 90px 0;
    background-color: #F0EFEB;
    position: relative;
}

.main_banner h1 {
    margin-bottom: 42px;
}

.main_banner p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}

.main_banner a {
    display: inline-block;;
    font-weight: 400;
    font-size: 1.06rem;
    line-height: 20px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px;
    text-decoration: none;
}

.main_banner .description {
    padding-right: 73px;
}

.main_banner .for_img {
    max-width: 599px;
    margin: auto;
    position: absolute;
    right: 8%;
    top: 0;
}

.main_banner img {
    /*position: absolute;*/
    /*right: 8%;*/
    /*top: 0;*/
    display: block;
    width: 100%;
}

/*___________________*/
/*OUR BEST SELLERS*/
/*-------------------*/
.best_sellers {
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 189px;
}

.best_sellers .guides h2:first-of-type {
    padding-bottom: 27px;
}

.best_sellers .guides h2:last-of-type {
    padding-bottom: 52px;
}

.best_sellers .guides p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 23px;
    color: #000000;
}

.best_sellers .guides p:first-of-type {
    padding-bottom: 47px;
    max-width: 632px;
    display: inline-block;
}

.best_sellers .guides p:last-of-type {
    padding-bottom: 88px;
}

/*.best_sellers .cards .owl-carousel*/
.best_sellers .cards .card {
    max-width: 309px;
    margin: auto;
}

/*.owl-carousel .owl-item {*/
/*    max-width: 309px;*/
/*    margin: auto;*/
/*}*/
.owl-nav .owl-prev {
    position: absolute;
    left: -46px;
    top: 35%;
}

.owl-nav .owl-prev:before {
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    font-size: 3.125rem;
    content: "\f104";
    color: black;
}

.owl-nav .owl-next {
    position: absolute;
    right: -46px;
    top: 35%;
}

.owl-nav .owl-next:before {
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    font-size: 3.125rem;
    content: "\f105";
    color: black;
}

.best_sellers card .for_img {
    max-width: 309px;
    margin-bottom: 27px;
}

.best_sellers .cards card .for_img img {
    display: block;
    width: 100%;
}

.best_sellers .cards .description {
    max-width: 156px;
}

.best_sellers .cards .description h3 {
    padding-bottom: 17px;
}

.best_sellers .cards .description p {
    padding-bottom: 10px;
}

.best_sellers .cards .description a {
    padding-bottom: 8px;
}

/*------------------------*/
.people {
    background: rgba(204, 204, 204, 0.3);
}

.people .for_img {
    max-width: 385px;
    margin-right: 50px;
}

.people .for_img img {
    width: 100%;
    display: block;
}

.people .description {
    max-width: 498px;
}

.people h2, .culture h2, .power h2 {
    padding-bottom: 31px;
}

.people p {
    padding-bottom: 40px;
}

.people p, .culture p, .power p {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 42px;
    color: #000000;
}

.culture {
    background-color: rgba(204, 204, 204, 0.6);
}

.culture .for_img {
    max-width: 385px;
    margin-left: 50px;
}

.culture .for_img img {
    width: 100%;
    display: block;
}

.culture .description {
    max-width: 513px;
    text-align: right;
}

.culture p {
    padding-bottom: 31px;
}

.power {
    background: rgba(204, 204, 204, 0.3);
}

.power .for_img {
    max-width: 385px;
    margin-right: 50px;
}

.power .for_img img {
    display: block;
    width: 100%;
}

.power .description {
    max-width: 530px;
}

.power p {
    padding-bottom: 39px;
}

/*
--------------------
FEATURE
------------------
 */
.features {
    background-color: #ffffff;
    padding-top: 190px;
    padding-bottom: 290px;
}

.features h2:first-of-type {
    font-weight: 400;
    padding-bottom: 69px;
}

.features .wrap_container {
    max-width: 1088px;
    margin: auto;
    padding-bottom: 52px;
}

.features .wrap_container p {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 35px;
    color: #000000;
    display: block;
    margin-top: 96px;
    margin-bottom: 110px;
    width: 339px;
    position: relative;
}

.features .wrap_container p:before {
    content: "";
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #21F7EC;
    border-radius: 35px;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: -90px;
}

.features .wrap_container p:nth-child(2):before {
    background: #33D3BC;
}

.features .wrap_container p:nth-child(3):before {
    background: #18A5C6;
}

.features .wrap_container p:nth-child(4):before {
    background: #D38F62;
}

.features .wrap_container p:nth-child(5):before {
    background: #F94C43;
}

.features .wrap_container p:nth-child(6):before {
    background: #D399FF;
}

/*
--------------------
VOICES
------------------
 */
.voices {
    background-color: #F0F0F0;
    padding-bottom: 52px;
}

.voices .voices_container {
    max-width: 1164px;
    margin: auto;
}

.voices .item p {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 26px;
    letter-spacing: 0.6px;
    color: #000000;
    margin-bottom: 40px;
}

.voices .item h4 {
    font-weight: 400;
    font-size: 1.19rem;
    line-height: 22px;
    color: #000000;
    margin-bottom: 44px;
}

.voices .item h4 span {
    font-size: 1.25rem;
    line-height: 23px;
    display: block;
}

.voices .item a {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 21px;
    text-decoration-line: underline;
    color: #000000;
}

.voices .voices_container .item {
    max-width: 288px;
    text-align: center;
    margin-top: -188px;
}

.voices .item img {
    display: block;
    width: 100%;
    padding-bottom: 35px;
}

/*
______________
FORM
_______________
 */
.form {
    background-color: #ffffff;
    padding-top: 79px;
    padding-bottom: 88px;
}

/*.form .container {*/
/*    max-width: 570px;*/
/*    margin: auto;*/
/*}*/

.form h2 {
    padding-bottom: 9px;
}

.form p {
    font-weight: 700;
    font-size: 1.06rem;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding-bottom: 26px;
}

.form form.container {
    max-width: 366px;
    margin: auto;
}

.form form label {
    display: none;
}

.form form .first_name {
    width: 153px;
}

.form form .last_name {
    width: 155px;
}

.form form .email {
    width: 100%;
}

.form form input {
    width: 100%;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 8px;
}

.form form #first_name, .form form #last_name {
    margin-bottom: 16px;
}

.form form #email {
    margin-bottom: 18px;
}

.form form input placeholder {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 16px;
    color: #A0A0A0;
}

.form form button {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 16px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px 10px;
    text-decoration: none;
}

/*
______________
FOOTER
_______________
 */
footer {
    padding-top: 51px;
    padding-bottom: 16px;
    background-color: #000000;
}

footer li {
    list-style: none;
}

footer .logo_social {
    max-width: 487px;
}

footer .logo_social a {
    padding-bottom: 25px;
    padding-left: 25px;
    display: block;
}

footer .logo_social ul {
    padding-bottom: 36px;
    padding-left: 17px;
}

footer .logo_social ul li {
    margin-right: 20px;
}

footer .links div {
    max-width: 215px;
    margin: 0 25px;
}

footer .links div:last-of-type {
    padding-right: 68px;
}

footer .links div li {
    padding-bottom: 12px;
}

footer .links div li h4 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 36px;
}

footer .links div li a {
    text-decoration: 0;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 21px;
    color: #FFFFFF;
}

footer li {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 21px;
    color: #FFFFFF;
}

footer .by p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
    color: #FFFFFF;
}

/*
DEVISES
280px; samsung
320px; iphone 4,5
360px; android
375px; iphone 7, 8, x, 12, 13
390px; iphone 12, 13
393px; 412px google +
414px; iphone xr, 7+, 8+
428px; pro max

768px; ipad
800px; galaxy tab
820px; ipad air
834px'; ipad pro
1024px; planshet pro max and desktop

vertical and gorizontal raspolozenie

 */